<div class="body">
    <div class="header-background border border-top-0 border-end-0 border-start-0 border-dark" id="homepage_header">
        <div class="header-background__content container">
            <div class="row">
                <div class="col mt-5 mb-5">
                    <h1 class="header-content__title">
                        Medium is a place to write, read, and connect
                    </h1>
                    <p class="header-content__description">
                        It's easy and free to post your thinking on any topic and connect with millions of readers.
                    </p>
                    <button type="button" class="btn btn-light border border-dark header-content__btn">Start
                        Writing</button>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5">
            <div class="col-8" id="homepage-post__list">
                {{#each post}}
                <div class="card mb-3 me-5 body-content__post-item">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body me-3">
                                <div class="d-flex body-content__user-post-info">
                                    <a href="#" style="line-height: 0;"><img class="body-content__avatar" src="/img/avatar.jpg" alt=""></a>
                                    <a href="#" class="card-text user-post-info__name">{{this.author}}</a>
                                </div>
                                <a href="#" style="text-decoration: none;">
                                    <h5 class="card-title body-post__title">{{this.title}}</h5>
                                    <p class="card-text body-post__description">{{this.description}}</p>
                                </a>
                                <div class="d-flex body-post__footer">
                                    <div class="body-post-footer__content d-flex">
                                        <p class="card-text"><small class="text-muted">{{this.date}}</small></p>
                                        <p class="card-text body-post-footer__dot"><small class="text-muted">.</small></p>
                                        <p class="card-text"><small class="text-muted">5 min read</small></p>
                                        <p class="card-text body-post-footer__dot"><small class="text-muted">.</small></p>
                                        <a href="#"><button type="button" class="btn body-post-footer__btn">{{this.tagName}}</button></a>
                                    </div>
                                    <a href="#" style="color: black;">
                                        <i class="far fa-bookmark body-post-footer__icon"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a href="#">
                                <img src=" /img/post_img.jpg" class="img-fluid rounded-start" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="col-4" id="homepage__body"> 
                <div class="homepage__topic">
                    <p class="homepage-topic__header">
                        Discover more of what matters to you
                    </p>
                    <div class="home-topic__list">
                        <a href="#"><button type="button" class="btn btn-outline-secondary home-topic__item">Self</button></a>
                        <a href="#"><button type="button" class="btn btn-outline-secondary home-topic__item">Relationships</button></a>
                        <a href="#"><button type="button" class="btn btn-outline-secondary home-topic__item">Data Science</button></a>
                        <a href="#"><button type="button" class="btn btn-outline-secondary home-topic__item">Programming</button></a>
                        <a href="#"><button type="button" class="btn btn-outline-secondary home-topic__item">Productivity</button></a>
                        <a href="#"><button type="button" class="btn btn-outline-secondary home-topic__item">Javascript</button></a>
                        <a href="#"><button type="button" class="btn btn-outline-secondary home-topic__item">Machine Learning</button></a>
                        <a href="#"><button type="button" class="btn btn-outline-secondary home-topic__item">Politics</button></a>
                        <a href="#"><button type="button" class="btn btn-outline-secondary home-topic__item">Health</button></a>
                    </div>
                    <a href="#" class="home-topic__link">See all topics</a>
                </div>
                <div class="homepage__footer">
                    <a href="" class="homepage-footer__item-link">Help</a>
                    <a href="" class="homepage-footer__item-link">Status</a>
                    <a href="" class="homepage-footer__item-link">Writers</a>
                    <a href="" class="homepage-footer__item-link">Blog</a>
                    <a href="" class="homepage-footer__item-link">Careers</a>
                    <a href="" class="homepage-footer__item-link">Privacy</a>
                    <a href="" class="homepage-footer__item-link">Terms</a>
                    <a href="" class="homepage-footer__item-link">About</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/script/homepage.js"></script>